{
  "presets": ["@repay/babel-preset"],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  },
  "plugins": [["@babel/plugin-proposal-private-property-in-object", { "loose": true }]]
}
