**/node_modules
*.log
*.swp
**/dist
!actions/create-pull-request/dist
**/coverage
**/sonar-report.xml
**/test-report.xml
.cache
.DS_Store
local.env
__diff_output__

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
